{% extends 'base.html' %}
{% block content %}

{% load static %}

<form id="dash_form" class="form-inline" name="dash_form" method="post">
     {% csrf_token %}
<h1>Welcome to QUIZ {{ loggeduser }}</h1>

<table border="1" CELLPADDING="5" align="center">
            {% for product in object_list %}
            <tr>
                <td colspan="6"><h4>{{ product.question }}</h4></td>
            </tr>
            <tr>
                <td><label><input type="checkbox" name="checkbox" value="{{ product.option1 }}"></label> {{ product.option1 }}<br></td>
                <td><label><input type="checkbox" name="checkbox" value="{{ product.option2 }}"></label> {{ product.option2 }}<br></td>
                <td><label><input type="checkbox" name="checkbox" value="{{ product.option3 }}"></label> {{ product.option3 }}<br></td>
                <td><label><input type="checkbox" name="checkbox" value="{{ product.option4 }}"></label> {{ product.option4 }}<br></td>
                <td><label><input type="checkbox" name="checkbox" value="{{ product.option5 }}"></label> {{ product.option5 }}<br></td>
                <td><label><input type="checkbox" name="checkbox" value="{{ product.option6 }}"></label> {{ product.option6 }}<br></td>
            </tr>
            {% endfor %}
</table>

      <br><br>

                        <div class="row">
                            <div class="form-group text-center col-sm-2 col-sm-offset-5">
                                <input type="submit" class="form-control form-control-lg" name="submit" value="submit"/>
                            </div>
                        </div>

     <br><br>
</form>
{% endblock %}