{% extends 'base.html' %}
{% block content %}

{% load static %}
<body>
<script>


</script>

</body>
<div style="width: 100%; display: table; height: 50px;  background-color: #0C0C0C;">
    <div style="width:100%; text-align:center;">
        <div style="float:left; width:500px; text-align:left;margin:10px;">
            <img src="{%static 'ericsson_econ.png'%}" class="avatar" alt="Ericsson"/>
            <font color="white" style="font-family: Times New Roman; margin-left:4px;">Chaitanya</font>
        </div>

        <div style="float:right; width:500px; text-align:right; margin:10px;">
            <img src="{% static  'userr.png'%}" alt="Avatar" class="avatar">
            <font color="white" style="font-family: Times New Roman; margin-right:20px;">{{loggeduser }}</font>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal1" class="modal" style="display:none;">

    <!-- Modal content -->
    <div class="modal-content" style="width:50%">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Chaitanya</h3>
        </div>
        <div class="modal-body">
            <p>You have an opportunity to win maximum 625 point through this game.</p>
            <p>But, are we playing this game only to win point? NO</p>
            <p>This games helps you to understand your personality. You understand hidden traits as what works best for
                you in a given situation. You will understand your preferences and choices better through this
                game. </p>
        </div>
        <div class="modal-footer">
            <input type="button" name="close" value="Close" id="close_btn" align="left"
                   style="width:130px; height:30px; padding: 0px 0px;"/>
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="myModal" class="modal" style="display:none;">

    <!-- Modal content -->
    <div class="modal-content" style="width:50%">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Welcome to Chaitanya!</h3>
        </div>
        <div class="modal-body">
            <p>You have an opportunity to win maximum 625 point through this game.</p>
            <p>But, are we playing this game only to win point? NO</p>
            <p>This games helps you to understand your personality. You understand hidden traits as what works best for
                you in a given situation. You will understand your preferences and choices better through this
                game. </p>
        </div>
        <div class="modal-footer">
            <input type="button" name="letsgo" value="Let’s Play!" id="letsgo_btn" align="left"
                   style="width:130px; height:30px; padding: 0px 0px;"/>
        </div>
    </div>

</div>

<div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>
</div>

<div class="container-fluid">
    <form id="dash_form" name="dash_form" method="post">
        {% csrf_token %}
        <div class="row">

            <div class="col-lg-4" style="background: #FFA33B; height:560px;">
                <div style="display:table;width:100%;">
                    <div style="float:right;clear:left;">
                        <div style="float:right;clear:left; margin:10px; width:120px; height:36px;"
                             class="points-panel">Points <label id="lbl_point">{{ pointsdata }}</label>
                        </div>

                        <div style="float:right;clear:left; margin-top:10px;">
                            <label style="color:white;" id="lbl_video">Video Off </label>
                            <label class="switch">
                                <input type="checkbox" id="toggle_button">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div style="width:380px; height:350px;">
                    <img id='video_img' src="{% static 'ericssonlogo.png'%}" alt="W3Schools.com"
                         style="width:0px; height:0px;"/>
                    <input type="hidden" id="image_data" name="Image_data"/>
                    <video id='video' height="300" width="300" poster="{% static 'ericssonlogo.png'%}"/>
                    <canvas id="camera--sensor"></canvas>
                </div>

                <div>
                    <p><font color="#ffffff" style="font-size:20px;">{{ list_data.question }}</font></p>
                </div>
            </div>
            <div class="col-lg-8">
                <div style="background-color:#EBEBEB; border-radius: 5px; height:45px; width:750px; margin-top:15px; margin-left:37px; align:center; padding:10px;">
                    <div>
                        <div class="progress-label">Question {{ flag_data1 }}/07</div>
                        <div class="progress" style="margin-top:8px;">
                            <div class="progress-bar bg-warning" id="progress-bar" role="progressbar"
                                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                 style="width: {{progressdata}}%;">
                            </div>
                        </div>
                    </div>
                </div>

                <div id="main_window">
                    <div id="left_pane">
                        <p align="left" style="margin-left:20px;">Options <font style="color:gray;font-size:12px;">(At a
                            time you can
                            select 3 options)</font></p>
                        <div id="available_metrics_filter">
                            <div id="div11" ondrop="drop11(event)" ondragover="allowDrop(event)"
                                 style="background-image: url({{ list_data.image0 }});">
                                <img src={{ list_data.image0 }} draggable="true" ondragstart="drag(event)"
                                     id="drag11" width="88" height="31" alt="{{ list_data.option0 }}">
                            </div>

                            <div id="div12" ondrop="drop12(event)" ondragover="allowDrop(event)"
                                 style="background-image: url({{ list_data.image1 }});">
                                <img src={{ list_data.image1 }} draggable="true" ondragstart="drag(event)" id="drag12"
                                     width="88"
                                     height="31" alt="{{ list_data.option1 }}">
                            </div>

                            <div id="div13" ondrop="drop13(event)" ondragover="allowDrop(event)"
                                 style="background-image: url({{ list_data.image2 }});">
                                <img src={{ list_data.image2 }} draggable="true" ondragstart="drag(event)" id="drag13"
                                     width="88"
                                     height="31" alt="{{ list_data.option2 }}">
                            </div>
                            <div id="div14" ondrop="drop14(event)" ondragover="allowDrop(event)"
                                 style="background-image: url({{ list_data.image3 }});">
                                <img src={{ list_data.image3 }} draggable="true" ondragstart="drag(event)"
                                     id="drag14" width="88"
                                     height="31" alt="{{ list_data.option3 }}">
                            </div>

                            <div id="div15" ondrop="drop15(event)" ondragover="allowDrop(event)"
                                 style="background-image: url({{ list_data.image4 }});">
                                <img src={{ list_data.image4 }} draggable="true" ondragstart="drag(event)" id="drag15"
                                     width="88"
                                     height="31" alt="{{ list_data.option4 }}">
                            </div>
                            <div id="div16" ondrop="drop16(event)" ondragover="allowDrop(event)"
                                 style="background-image: url({{ list_data.image5 }});">
                                <img src={{ list_data.image5 }} draggable="true" ondragstart="drag(event)" id="drag16"
                                     width="88"
                                     height="31" alt="{{ list_data.option5 }}">
                            </div>
                        </div>
                    </div>
                    <div id="right_pane">
                        <p align="left" style="margin-left:20px;">Choice <font style="color:gray;font-size:12px;">(Add
                            an item from left
                            by dragging into this container)</font></p>
                        <div id="selected_metrics">
                            <div style="margin:10px;">
                                <p align="left" style="margin-left:20px;"><font style="color:gray;font-weight:bold;">Priority
                                    1</font></p>
                                <div id="div21" ondrop="drop1(event)" ondragover="allowDrop(event)"></div>
                            </div>
                            <div style="margin:10px;">
                                <p align="left" style="margin-left:20px;"><font style="color:gray;font-weight:bold;">Priority
                                    2</font></p>
                                <div id="div22" ondrop="drop2(event)" ondragover="allowDrop(event)"></div>
                            </div>
                            <div style="margin:10px;">
                                <p align="left" style="margin-left:20px;"><font style="color:gray;font-weight:bold;">Priority
                                    3</font></p>
                                <div id="div23" ondrop="drop3(event)" ondragover="allowDrop(event)"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="myBtn" onclick="openNav()">Get 10 Bonus Points</button>
                <input type="submit" name="submit"
                       value="Next"
                       id="next_btn" align="left"
                       style="width:130px; height:30px; padding: 0px 0px; margin-left:100px;"/>
            </div>

            <input type=hidden id="abcId" class="form-control" name="abcName"
                   value={{ flag_data }}/>

            <input type=hidden id="abcId1" class="form-control" name="abcName1"
                   value={{ pointsdata }}/>
        </div>

    </form>
    <form id="image" method="post">
    </form>
</div>

{% endblock %}
