{% extends 'base.html' %}
{% block content %}

{% load static %}

<form id="dash_form" class="form-inline" name="dash_form" method="post">
    {% csrf_token %}
    <br><br>
    <h1>Welcome to QUIZ {{ loggeduser }}</h1>

    <br>

    <div id="first_row">

        <div>
            <h2>{{ list_data.question }}</h2>
        </div>
        <br>

        <div class="container">

            <div class="sidebyside">
                <img src="{% static 'images/Progress_Logo.png' %}">
                <h4 align="center">A. {{ list_data.option0 }}</h4>
            </div>
            <div class="sidebyside">
                <img src="{% static 'images/Progress_Logo.png' %}">
                <h4 align="center">B. {{ list_data.option1 }}</h4>
            </div>
            <div class="sidebyside">
                <img src="{% static 'images/Progress_Logo.png' %}">
                <h4 align="center">C. {{ list_data.option2 }}</h4>
            </div>

        </div>
        <div class="container">
            <div class="sidebyside">
                <img src="{% static 'images/Progress_Logo.png' %}">
                <h4 align="center">D. {{ list_data.option3 }}</h4>
            </div>
            <div class="sidebyside">
                <img src="{% static 'images/Progress_Logo.png' %}">
                <h4 align="center">E. {{ list_data.option4 }}</h4>
            </div>
            <div class="sidebyside">
                <img src="{% static 'images/Progress_Logo.png' %}">
                <h4 align="center">F. {{ list_data.option5 }}</h4>
            </div>

        </div>

        <br>
        <input type=hidden id="abcId" class="form-control" name="abcName"
               value={{ flag_data }}/>

        <div class="container">
            <div class="sidebyside">
                <select id="option1" class="form-control" required>
                    <option disabled selected value="">Select your option1</option>
                    <option>{{ list_data.option0 }}</option>
                    <option>{{ list_data.option1 }}</option>
                    <option>{{ list_data.option2 }}</option>
                    <option>{{ list_data.option3 }}</option>
                    <option>{{ list_data.option4 }}</option>
                    <option>{{ list_data.option5 }}</option>
                    <option>{{ list_data.option6 }}</option>
                </select>
            </div>
            <div class="sidebyside">
                <select id="option2" class="form-control" required>
                    <option disabled selected value="">Select your option2</option>
                    <option>{{ list_data.option0 }}</option>
                    <option>{{ list_data.option1 }}</option>
                    <option>{{ list_data.option2 }}</option>
                    <option>{{ list_data.option3 }}</option>
                    <option>{{ list_data.option4 }}</option>
                    <option>{{ list_data.option5 }}</option>
                    <option>{{ list_data.option6 }}</option>
                </select>
            </div>
            <div class="sidebyside">
                <select id="option3" class="form-control" required>
                    <option disabled selected value="">Select your option3</option>
                    <option>{{ list_data.option0 }}</option>
                    <option>{{ list_data.option1 }}</option>
                    <option>{{ list_data.option2 }}</option>
                    <option>{{ list_data.option3 }}</option>
                    <option>{{ list_data.option4 }}</option>
                    <option>{{ list_data.option5 }}</option>
                    <option>{{ list_data.option6 }}</option>
                </select>
            </div>
        </div>

    </div>

    <br><br>
    <div class="row">
        <div class="form-group text-center col-sm-2 col-sm-offset-5">
            <input type="submit" class="form-control form-control-lg" name="submit" value="Next" id="next_btn"/>
        </div>
    </div>

    <br><br>
</form>
{% endblock %}